

    <h1>Register to product managaer</h1>

    <form #form="ngForm" novalidate (ngSubmit)=" form.form.valid && save()">
        <input type="hidden" id='id' [(ngModel)]="editObj.id" name="id" #id="ngModel">

        <mat-form-field class="example-full-width" appearance="fill" style="width:50%">
            <mat-label>First name</mat-label>
            <input matInput placeholder="enter First name" id="firstName" [(ngModel)]="editObj.firstName"
                name="firstName" #firstName="ngModel" required 
                [ngClass]="{error:firstName.errors && firstName.touched && form.submitted}">
        </mat-form-field><br>

        <mat-form-field class="example-full-width" appearance="fill" style="width:50%">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="enter Last Name" id="lastName" [(ngModel)]="editObj.lastName" name="lastName"
                #lastName="ngModel" required [ngClass]="{error:lastName.errors && lastName.touched && form.submitted}">
        </mat-form-field><br>
        <mat-form-field class="example-full-width" appearance="fill" style="width:50%">
            <mat-label>Email</mat-label>
            <input matInput placeholder="enter Email" [(ngModel)]="editObj.email" name="email" #email="ngModel" id="email" value="{{editObj.email}}" [disabled]="editMode">
         <!-- <input type="hidden" id='email' [(ngModel)]="editObj.email" name="email" #email="ngModel">  -->
        </mat-form-field><br>
    <div *ngIf="!editMode">
        <mat-form-field class="example-full-width" appearance="fill" style="width:50%">
            <mat-label>Password</mat-label>
            <input matInput placeholder="enter Password" id="password" [(ngModel)]="editObj.password" name="password"
                #password="ngModel" required type="password" [pattern]="passwordRegex"
                [ngClass]="{error:password.errors && password.touched && form.submitted}">
        </mat-form-field><br>

        <mat-form-field class="example-full-width" appearance="fill" style="width:50%">
            <mat-label>Confirm Password</mat-label>
            <input matInput placeholder="Confirm Password" id="confirmpassword" [(ngModel)]="editObj.confirmpassword"
                name="confirmpassword" #confirmpassword="ngModel" required type="password" [pattern]="editObj.password"
                [ngClass]="{error:confirmpassword.errors && confirmpassword.touched && form.submitted}">
        </mat-form-field><br>
    </div>
  


        <mat-form-field class="example-full-width" appearance="fill" style="width:50%">
            <mat-label>Phone Number</mat-label>
            <input matInput placeholder="enter Phone Number" type="number" id="phoneNumber"
                [(ngModel)]="editObj.phoneNumber" name="phoneNumber" #phoneNumber="ngModel" required
                [ngClass]="{error:phoneNumber.errors && phoneNumber .touched && form.submitted}">
        </mat-form-field><br>

        <mat-form-field style="width:50%">
            <mat-label>Address</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5" id="address" [(ngModel)]="editObj.address" name="address" #address="ngModel"
                required placeholder="enter Address"
                [ngClass]="{error:address.errors && address .touched && form.submitted}"></textarea>
        </mat-form-field><br>

        <div *ngIf="firstName.errors  && form.submitted">
            <small class="text-danger" *ngIf="firstName.errors['required']"> First Name is
                required</small><sup class="ms-1 text-danger">*</sup>
        </div>

        <div *ngIf="lastName.errors && form.submitted">
            <small class="text-danger" *ngIf="lastName.errors['required']"> Last name is
                required</small><sup class="ms-1 text-danger">*</sup>
        </div>

        <div *ngIf="phoneNumber.errors  && form.submitted">
            <small class="text-danger" *ngIf="phoneNumber.errors['required']"> Phone number is required <sup
                    class="ms-1 text-danger">*</sup></small>
            <small class="text-danger" *ngIf="phoneNumber.errors['pattern']"> Phone number must be 10 degits <sup
                    class="ms-1 text-danger">*</sup></small>
        </div>

        <div *ngIf="address.errors && form.submitted">
            <small class="text-danger" *ngIf="address.errors['required']"> Address is
                required</small><sup class="ms-1 text-danger">*</sup>
        </div>

        

        <div class="d-flex">
            <div class="mb-3 mt-2" *ngIf="editMode">
                <button mat-raised-button color="primary" type="submit" matTooltip="Update the product">Update</button>
            </div>
            <div class="mb-3 mt-2" *ngIf="!editMode">
                <button mat-raised-button color="primary" type="submit" matTooltip="Save the product">ADD</button>
            </div>
            <div class="ms-2 mb-3 mt-2">
                <button mat-raised-button color="accent" matTooltip="Go to List" (click)="routeTo()">Cancel</button>
            </div>
        </div>

    </form>