<h1 class="d-flex"> Welcome to the Dashboard of <p class="text-danger ms-2"> Project Manager</p>
</h1>
<!-- <table class="table">
    <thead class="thead-dark mt-5">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <th scope="row">{{user.id}}</th>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>

        </tr>
    </tbody>
</table> -->
<kendo-grid [data]="users">
    <kendo-grid-column field="ID" title="ID"> </kendo-grid-column>
    <kendo-grid-column field="FirstName" title="FirstName"> </kendo-grid-column>
    <kendo-grid-column field="LastName" title="LastName"> </kendo-grid-column>
    <kendo-grid-column field="Email" title="Email"> </kendo-grid-column>
</kendo-grid>