<h1 class="d-flex"> Welcome to the Dashboard of <p class="text-danger ms-2"> Project Manager</p>
</h1>
<!-- <table class="table">
    <thead class="thead-dark mt-5">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <th scope="row">{{user.id}}</th>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>

        </tr>
    </tbody>
</table> -->
<kendo-grid [data]="users">
    <kendo-grid-column field="id" title="id"> </kendo-grid-column>
    <kendo-grid-column field="firstName" title="firstName"> </kendo-grid-column>
    <kendo-grid-column field="lastName" title="lastName"> </kendo-grid-column>
    <kendo-grid-column field="email" title="email"> </kendo-grid-column>
</kendo-grid>
<mat-paginator [length]="length" [pageSize]="10" class="mt-4" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"
        (page)="handlePageEvent($event)">
    </mat-paginator>